body { 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EFE886));
	height: 100%;
	width: 100%;
}



#login-box {
	

	

}

#img1 {
	left:0;

}

#img2 {
	
}
